<div class="navbars">
    <div class="name">
        <h3>HappyShop</h3>
        <form>
            <input type="text" placeholder="Search" #filter (keyup)="enableBtn($event)">
            <button [disabled]=!isDisable  type="button" >Search</button>
          </form>
    </div>
    <div class="links">
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="">Wallet</a></li>
            <li><a href="">Account</a></li>
        </ul>
    </div>
</div>